# Android/Gradle caches and build folders
.gradle/
build/
app/build/
local.properties
.idea/

# EXTREMELY IMPORTANT:
*.keystore
*.jks
*.apk

.gravity/
*.gravity
gravity.log
gravity-config.local.json


node_modules/
build/
dist/

.env
.env.local
